<!DOCTYPE html>
<div class="form-horizontal" role="form">
    <div class="form-group form-group-sm">
        <label for="districtField" class="col-md-5 col-sm-5 control-label"><%=districtText%></label>
        <div class="col-md-7 col-sm-7">
            <select class="form-control input-sm pull-left" id="districtField">
                <option <% if (districtNumber === "0") {print ("selected ");} %>disabled class="pull-left" value="0"><%=chooseText%></option>
                    <% Object.keys(this.model.get("districts")).forEach(function(key) { %>
                    <option <% if (districtNumber === value) {print ("selected ");} %>class="pull-left" value=<%= this.model.get("districts")[key] %>><%= key + " (" + this.model.get("districts")[key] + ")" %></option>
                <% }); %>
            </select>
        </div>
    </div>
    <% if (cadastralDistrictField === true) { %>
    <div class="form-group form-group-sm">
        <label for="districtField" class="col-md-5 col-sm-5 control-label">Flur</label>
        <div class="col-md-7 col-sm-7">
            <fieldset <% if (districtNumber === "0") {print ("disabled ");} %>id="cadastralDistrictFieldSet">
                <select class="form-control input-sm pull-left" id="cadastralDistrictField">
                    <option <% if (cadastralDistrictNumber === "0") {print ("selected ");} %>disabled class="pull-left" value="0"><%=chooseText%></option>
                    <% if(cadastralDistricts[districtNumber]){%>
                        <% cadastralDistricts[districtNumber].forEach(function (cadastralDistrict) { %>
                            <option <% if (cadastralDistrictNumber === cadastralDistrict) {print ("selected ");} %>class="pull-left" value=<%= cadastralDistrict %>><%= cadastralDistrict %></option>
                        <% });%> 
                    <% } %>
                </select>
            </fieldset>
        </div>
    </div>
    <% } %>

    <div class="form-group form-group-sm">
        <label for="parcelField" class="col-md-5 col-sm-5 control-label"><%=parcelNumberText%></label>
        <div class="col-md-7 col-sm-7">
             <div class="input-group" style="width:100%">
                <input <% if (districtNumber === "0" || (cadastralDistrictField === true && cadastralDistrictNumber === "0")) {print ("disabled ");} %>id="parcelField" class="form-control" type="text" pattern="[0-9]+" required value="<%= parcelNumber %>" placeholder="<%=parcelNumberPlaceholderText%>" maxlength="<%= maxParcelNumberLength %>"/>
                <% if (this.model.get("parcelDenominatorField") === true) { %>
                <span class="input-group-addon">/</span>
                <input <% if (districtNumber === "0" || (cadastralDistrictField === true && cadastralDistrictNumber === "0")) {print ("disabled ");} %>id="parcelFieldDenominator" class="form-control" type="text" pattern="[0-9]+" required value="<%= parcelDenominatorNumber %>" placeholder="<%=parcelNumberPlaceholderText%>" maxlength="<%= maxParcelNumberLength %>"/>
                <% } %>
            </div>
        </div>
    </div>
    <div class="form-group form-group-sm">
        <% if (createReport === true) { %>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <button id="reportbutton" class="btn btn-primary btn-md btn-block" <% if (districtNumber === "0" || (cadastralDistrictField === true && cadastralDistrictNumber === "0") || parcelNumber === "" || (parcelDenominatorField === true && parcelDenominatorNumber ==="")) {print ("disabled ");} %>><%=generateReportText%></button>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
        <% } else { %>
            <div class="col-md-12 col-sm-12 col-xs-12">
        <% } %>
            <button id="submitbutton" class="btn btn-primary btn-md btn-block" <% if (districtNumber === "0" || (cadastralDistrictField === true && cadastralDistrictNumber === "0") || parcelNumber === "" || (parcelDenominatorField === true && parcelDenominatorNumber ==="")) {print ("disabled ");} %>><%=searchText%></button>
            </div>
    </div>
</div>
