<nav aria-label="...">
  <ul class="pagination pagination-lg">
    <li class="<% if (routelayer === null) {print ('active');} %>">
      <span id="address" title="<%= enterStartDestHoverText %>" class="glyphicon glyphicon-road" aria-hidden="true"></span>
    </li>
    <li>
      <span id="options" title="<%= enterOptionsText %>" class="glyphicon glyphicon-tags" aria-hidden="true"></span>
    </li>
    <li id="calcLi" class="<% if (fromCoord === '' || toCoord === '') {print ('disabled');} else if (routelayer !== null) {print ('active');} %>">
      <span id="calc" title="<%= calculateRoute %>" class="glyphicon glyphicon-flag" aria-hidden="true"></span>
    </li>
  </ul>
</nav>

<div class="address innerRDiv" style="<% if (routelayer !== null) {print ('display: none');} %>">
    <h4><%= startAddressLabel %>:</h4>
    <div class="input-group inputGroupR" id="input-group-start">
        <input type="text" class="form-control adresse" id="startAdresse" placeholder="<%= fromPlaceholder %>:" aria-describedby="basic-addon1"  value="<%=startAdresse%>" autocomplete="off">
        <div style="position:relative;">
             <ul id="start" class="dropdown-menu-routing" aria-labelledby="startAdresse">
            </ul>
        </div>
        <span id="startAdressePositionSpan" class="<% if (!isGeolocationPossible) {print ('hidden ');} %>input-group-addon glyphicon glyphicon-map-marker routinglocator startAdressePosition" aria-hidden="true"></span>
    </div>
    <h4><%= destinationAddressLabel%>:</h4>
    <div class="input-group inputGroupR" id="input-group-ziel">
        <input type="text" class="form-control adresse" id="zielAdresse" placeholder="<%= toPlaceholder %>:" aria-describedby="basic-addon1" value="<%=zielAdresse%>" autocomplete="off">
        <div style="position:relative;">
            <ul id="ziel" class="dropdown-menu-routing" role="menu" aria-labelledby="zielAdresse">
            </ul>
        </div>
    </div>
</div>

<div class="options innerRDiv" style="display: none;">
    <h4><%= setStartTimeText %>:</h4>
    <div class="input-group inputGroupR">
        <span class="input-group-addon"><%= date %></span>
        <input type="date" id="dayOfWeekButton" class="form-control changedWochentag" aria-describedby="basic-addon2" min="2017-01-01" value="<% print (new Date().toISOString().split('T')[0]) %>">
    </div>
    <br>
    <div class="input-group inputGroupR">
        <span class="input-group-addon"><%= time %></span>
        <input type="time" id="timeButton" class="form-control changedUhrzeit" aria-describedby="basic-addon2" min="00:00" max="23:59" value="<% print (new Date().toLocaleTimeString()) %>">
    </div>
</div>

<div class="calc" style="<% if (routelayer === null) {print ('display: none');} %>">
    <h4 id="summary"><% if (routelayer !== null) {print ('Sie erreichen Ihr Ziel nach ' + sumLength + ' km (' + sumTime + ' Min.):');} %></h4>
    <ul id="description" class="list-group">
        <%
        //todo ins i18n
        if(description){
            description.forEach(function (item, index) {
                    const tracDesc = "<strong>" + item.Description.split(". ")[0] + ".</strong>",
                        tracLength = "<em>" + item.Description.split(". ")[1] + "</em>";

                    print("<li id='teil" + index.toString() + "' class='list-group-item'><span class=''>" + tracDesc + "<br>" + tracLength + "</span></li>");
                });
        }
        %>
    </ul>
    <h4 id="endeDescription"><% if (routelayer !== null) {print (endDescription)} %></h4>
</div>

