<!DOCTYPE html>
<% typeList.forEach(function(typeListObj) { %>
    <li class="list-group-item type"><span class="badge"><%= typeListObj.list.length %></span><%= typeListObj.type %></li><div style="max-height: 220px; overflow-y: auto; overflow-x: hidden; display: none;">
        <% typeListObj.list.forEach(function (hit) { %>
            <li id="<%= hit.id %>" class="list-group-item hit" data-toggle="tooltip" data-placement="bottom" title="<%= hit.metaName %>">
                <p id="searchInputLi">
                    <% if (hit.hasOwnProperty("glyphicon")) { %>
                        <span class="glyphicon <%= hit.glyphicon %>"></span>
                    <% } else { %>
                        <img src="<%= hit.imageSrc %>">
                    <% } %>
                    <span class="list-group-item-name"><%= !hit.hasOwnProperty("shortName") ? hit.name : hit.shortName %></span>
                    <small class="list-group-item-theme"><%= !hit.hasOwnProperty("additionalInfo") ? hit.type : hit.additionalInfo %></small>
                </p>
            </li>
        <% }); %>
    </div>
    <% if (uiStyle && uiStyle === "TABLE") { %>
        <div id="search-funnel"></div>
        <div id="search-right-funnel-corner"></div>
    <% } %>
<% }); %>
